---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<div class="border-b border-gray-200 bg-white p-4 sm-px-6">
<h1 class="text-base font-semibold leading-6 text-gray-600">Audio Timers</h1>
</div>
</Layout>