---
import Timers from "../components/Timers.svelte";
import Layout from "../layouts/Layout.svelte";
---

<Layout title="Welcome to Astro.">
  <div>
    <Timers client:only="svelte"/>
  </div>
</Layout>
